.History-Container {
    display: inline-block;
    margin: 32px auto 0 auto;
    width: 1224px;
    background-color: rgba(151, 196, 226, 0.5);
    max-height: calc(100vh - 80px);
}

.Gemini-Styles {
    max-height: calc(100vh - 106px);
}

.gm-scrollbar.-horizontal {
    background-color: transparent;
}  
  
.History-table {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1224px;
}
  
.History-table thead {
    background-color: rgba(112, 206, 148, 0.9);
}
  
.History-table th {
    padding: 4px 12px;
    border: solid 1px darkgray;
}
  
.History-table td {
    padding: 4px 12px;
    border: solid 1px darkgray;
}
  
.History-table tbody tr:hover {
    background-color:rgba(176, 246, 211, 0.5);
    cursor: pointer;
}

.History-table th:nth-child(1), td:nth-child(1) {
    width: 103px;
}
.History-table th:nth-child(3), td:nth-child(3) {
    width: 143px;
}
.History-table th:nth-child(4), td:nth-child(4) {
    width: 170px;
}
.History-table th:nth-child(5), td:nth-child(5) {
    width: 150px;
}
.History-table th:nth-child(6), td:nth-child(6) {
    width: 176px;
}
.History-table th:nth-child(7), td:nth-child(7) {
    width: 106px;
}
